<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-wireframes/dist/bootstrap-wireframes.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Crud</h1>
                <a class="btn btn-success" th:href="@{/create}">Create</a>
                <table class="table table-condensed">
                    <tr th:each="person: ${people}">
                        <td th:text="${person.firstName}"/>
                        <td th:text="${person.lastName}"/>
                        <td><a class="btn btn-info" th:href="@{/details(id=${person.id})}">Details</a></td>
                        <td><a class="btn btn-warning" th:href="@{/edit(id=${person.id})}">Edit</a></td>
                        <td><a class="btn btn-danger" th:href="@{/delete(id=${person.id})}">Delete</a></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>